/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #414141;
  font-weight: 400;
}

.background {
  background-image: url('http://drive.google.com/uc?export=view&id=0B58UBdS465A_VWVwaXo4ellBTlk');
  background-size: cover;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding: 4%;
  position: absolute;
  top: 0;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 20px;
  width: 100%;
}

h1 {
  color: #222;
  font-size: 28px;
  line-height: 1.1;
  margin: 0 0 15px;
}

p, ul, ol {
  margin: 0 0 15px;
}

a {
  color: #06b;
  text-decoration: none;
}

a:hover {
  color: #039;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

section {
  width: 500px;
  float: right;
}

@media print, screen and (max-width: 1800px) {
  div.background {
    background-image: url('http://drive.google.com/uc?export=view&id=0B58UBdS465A_N2pvZk5xODEzMkk')
  }
}

@media print, screen and (max-width: 950px) {

  div.background {
    background-image: url('http://drive.google.com/uc?export=view&id=0B58UBdS465A_U01ncTEwVU8tdDQ');
  }

  div.content {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
    margin: 0;
    overflow: hidden;
    width: auto;
  }

  header, section {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    padding: 15px 0 0;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  body {
    padding: 15px;
  }
}
